*{
    margin: 0px;
    padding: 0px
}

.FullCard{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    display: inline-block;
}
.CallCard{
    text-align: center;
    margin-bottom: 5px;
}

.DummyCard{
    text-align: justify;
    margin-bottom: 5px;
}

.DateCard{
    text-align: center;
    font-weight: bold;
}